SERVER_URL=http://localhost:8080

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `bunx --bun @better-auth/cli secret`

VITE_APP_NAME=House of Wizard
